AuthType Basic
AuthName "Administration du site"
AuthUserFile /var/www/escholiers/secret/.htpasswd
AuthGroupFile /dev/null
require valid-user
#
Options +FollowSymlinks
#
RewriteEngine on
RewriteRule ^ajouter-page-contenu\.html$ index.php?page=1
RewriteRule ^modifier-page-contenu\.html$ index.php?page=2
RewriteRule ^modifier-page-([0-9]{1,4})\.html$ index.php?page=3&idPage=$1
RewriteRule ^ajouter-photo\.html$ index.php?page=4
RewriteRule ^modifier-photos\.html$ index.php?page=5
RewriteRule ^delete-image-([0-9]{1,3})-([0-9]{1,3})\.html$ index.php?page=5&idDel=$1&idGalerie=$2
RewriteRule ^image-up-([0-9]{1,3})-([0-9]{1,3})\.html$ index.php?page=5&idUp=$1&idGalerie=$2
RewriteRule ^image-down-([0-9]{1,3})-([0-9]{1,3})\.html$ index.php?page=5&idDown=$1&idGalerie=$2
RewriteRule ^ajouter-video\.html$ index.php?page=6
RewriteRule ^modif-comment-([0-9]{1,3})-([0-9]{1,3})\.html$ index.php?page=5&idModif=$1&idGalerie=$2
RewriteRule ^gestion-playlist\.html$ index.php?page=7
RewriteRule ^down-video-([0-9]{1,4})\.html$ index.php?page=7&down=1&idVideo=$1
RewriteRule ^up-video-([0-9]{1,4})\.html$ index.php?page=7&up=1&idVideo=$1
RewriteRule ^delete-video-([0-9]{1,4})\.html$ index.php?page=7&idDel=$1
RewriteRule ^change-email\.html$ index.php?page=8
RewriteRule ^change-address\.html$ index.php?page=9
RewriteRule ^ajouter-galerie\.html$ index.php?page=10
RewriteRule ^gestion-galeries\.html$ index.php?page=11
RewriteRule ^gestion-galeries-([0-9]{1,3})\.html$ index.php?page=11&idModif=$1
RewriteRule ^up-galerie-([0-9]{1,3})\.html$ index.php?page=11&idUp=$1
RewriteRule ^down-galerie-([0-9]{1,3})\.html$ index.php?page=11&idDown=$1
RewriteRule ^delete-galerie-([0-9]{1,3})\.html$ index.php?page=11&idDel=$1
RewriteRule ^change-galerie-([0-9]{1,3})\.html$ index.php?page=5&idGalerie=$1
RewriteRule ^presentation-compagnie\.html$ index.php?page=12
RewriteRule ^historique-compagnie\.html$ index.php?page=13
RewriteRule ^ajouter-groupe-personnes\.html$ index.php?page=14
RewriteRule ^ajouter-personne\.html$ index.php?page=15
RewriteRule ^del-pers-photo-([0-9]{1,4})\.html$ index.php?page=15&idDel=$1
RewriteRule ^gestion-groupes\.html$ index.php?page=16
RewriteRule ^gestion-groupes-([0-9]{1,4})\.html$ index.php?page=16&idGroupe=$1
RewriteRule ^up-libelle-([0-9]{1,4})\.html$ index.php?page=16&idUp=$1
RewriteRule ^down-libelle-([0-9]{1,4})\.html$ index.php?page=16&idDown=$1
RewriteRule ^delete-group-([0-9]{1,4})\.html$ index.php?page=16&idDel=$1
RewriteRule ^gestion-groupe\.html$ index.php?page=17;
RewriteRule ^gestion-groupe-([0-9]{1,4})\.html$ index.php?page=17&idGroupe=$1
RewriteRule ^up-personne-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=17&idUp=$1&idGroupe=$2
RewriteRule ^down-personne-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=17&idDown=$1&idGroupe=$2
RewriteRule ^modif-personne-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=18&idPers=$1&idGroupe=$2
RewriteRule ^del-pers-photo-2-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=18&idPers=$1&idDel=$1&idGroupe=$2
RewriteRule ^ajouter-personne0\.html$ index.php?page=19
RewriteRule ^edit-reservation\.html$ index.php?page=20
RewriteRule ^edit-reservation-([0-9]{1,4})\.html$ index.php?page=20&idSpectacle=$1
RewriteRule ^spectacle-actuel\.html$ index.php?page=21
RewriteRule ^change-spectacle-actuel-([0-9]{1,4})-([0-1])\.html$ index.php?page=21&idChange=$1&state=$2
RewriteRule ^del-spectacle-([0-9]{1,4})\.html$ index.php?page=21&idDel=$1
RewriteRule ^gestion-salles\.html$ index.php?page=22
RewriteRule ^salle-up-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=22&idSpectacle=$1&idUp=$2
RewriteRule ^salle-down-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=22&idSpectacle=$1&idDown=$2
RewriteRule ^salle-del-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=22&&idSpectacle=$1&idDel=$2
RewriteRule ^salle-chge-spect-([0-9]{1,4})\.html$ index.php?page=22&idSpectacle=$1
RewriteRule ^gestion-dates\.html$ index.php?page=23
RewriteRule ^gestion-dates-([0-9]{1,4})\.html$ index.php?page=23&idSpectacle=$1
RewriteRule ^delete-date-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=23&idSpectacle=$1&idDel=$2
RewriteRule ^gestion-spectacles\.html$ index.php?page=24
RewriteRule ^delete-spectacle-([0-9]{1,4})\.html$ index.php?page=24&idDel=$1
RewriteRule ^libelle-spectacle-up-([0-9]{1,4})\.html$ index.php?page=24&up=1&idSpectacle=$1
RewriteRule ^libelle-spectacle-down-([0-9]{1,4})\.html$ index.php?page=24&down=1&idSpectacle=$1
RewriteRule ^modif-salles\.html$ index.php?page=25
RewriteRule ^gestion-salle-spec-([0-9]{1,4})\.html$ index.php?page=25&idSpectacle=$1
RewriteRule ^modif-salles-up-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=25&up=1&idSpectacle=$1&idSalle=$2
RewriteRule ^modif-salles-down-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=25&down=1&idSpectacle=$1&idSalle=$2
RewriteRule ^modif-salles-delete-([0-9]{1,4})-([0-9]{1,4})\.html$ index.php?page=25&idSpectacle=$1&idDel=$2
RewriteRule ^reservations\.html$ index.php?page=26;
RewriteRule ^reservation-([0-9]{1,4})\.html$ index.php?page=27&idReservation=$1
RewriteRule ^send-newsletter\.html$ index.php?page=28
RewriteRule ^delete-reservation-([0-9]{1,6})\.html$ index.php?page=26&idEvent=$1
RewriteRule ^email-reservation\.html$ index.php?page=29
RewriteRule ^ajout-spectacle\.html$ index.php?page=30
RewriteRule ^ajout-salle\.html$ index.php?page=31&init=1
Rewriterule ^ajout-salle-([0-9]{1,4})\.html$ index.php?page=31&idSpectacle=$1
RewriteRule ^ajout-date\.html$ index.php?page=32
RewriteRule ^ajout-date-([0-9]{1,4})\.html$ index.php?page=32&idSpectacle=$1
RewriteRule ^texte-reservation\.html$ index.php?page=33
RewriteRule ^texte-reservation-([0-9]{1,4})\.html$ index.php?page=33&idSpectacle=$1
RewriteRule ^gestion-dates\.html$ index.php?page=34
Rewriterule ^gestion-dates1-([0-9]{1,4})\.html$ index.php?page=34&idSpectacle=$1
RewriteRule ^textes-presentation\.html$ index.php?page=35
RewriteRule ^textes-presentation-([0-9]{1,4})\.html$ index.php?page=35&idSpectacle=$1
RewriteRule ^gestion-messages\.html$ index.php?page=36
RewriteRule ^delete-message-([0-9]{1,4})\.html$ index.php?page=36&idDel=$1
