/* 
    Document   : style
    Created on : 15 août 2012, 18:59:15
    Author     : pj
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    font-size: 0.9em;
    font-family: Arial, serif;    
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #90a9FF;
}

a:hover {
    text-decoration: underline;
    color: #ddae70;
}
.clearBoth {
    clear: both;
}

.floatLeft {
    float: left;
}

.inlineBlock {
    display: inline-block;
    vertical-align: middle;
}

div#section {
    min-height: 500px;
}

div#section h1,
div#header h1 {
    color: #ddae70;
}

div#section h2 {
    color: #f86f57;
}

div#section h3 {
    color: #6e69da;
}
div#section hr {
    width: 50%;
    margin: auto;
    color: #333333;
}

div#section .red {
    font-weight: bold;
    color: #cc0000;
}
div#section div.erreur {
    width: 70%;
    border: solid 1px #cc0000;
    background-color: #f0bfc2;
    color: #000000;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
}

div#section div.info {
    width: 70%;
    border: solid 1px #c1bdc4;
    background-color: #cbd2d7;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
}

div#section textarea.code {
    background-color: #D3D3D3;
    font-family: Courier, monospace;
    font-weight: bold;
    border: solid 1px #333333;
    border-radius: 5px;
}

div#section div.vignette {
    text-align: center;
}

div#section div.vignette img {
    padding: 5px 5px 5px 5px;
    border: solid 1px #333333;
    border-radius: 5px;
}

div#section div.vignette div {
    display: inline-block;
    vertical-align: middle;
}

div#section div.up {
    background-image: url("../../images/arrow_up.png");
    width: 16px;
    height: 16px;
    cursor: pointer;
}

div#section div.down {
    background-image: url("../../images/arrow_down.png");
    width: 16px;
    height: 16px;
    cursor: pointer;
}

div#section div.delete {
    background-image: url("../../images/delete.png");
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 30px;
}

div#section div.up2 {
    background-image: url("../../images/arrow_up.png");
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

div#section div.down2 {
    background-image: url("../../images/arrow_down.png");
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

div#section div.delete2 {
    background-image: url("../../images/delete.png");
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

div#section li.delete2 {
    background-image: url("../../images/delete.png");
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 30px;
}

div#section div.commentsMod,
div#section div.fieldGroup {
    display: inline-block;
    vertical-align: middle;
    background-color: #dbd8d8;
    border: solid 1px #333333;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
}

div#section div.enLigne {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 5px 5px 5px;
}

div#section div.itemVideoModif {
    width: 100%;
    text-align: left;
}

div#section div.formVignette {
    text-align: center;
}

div#section div.mediaspace {
    width: 500px;
    margin: auto;
    text-align: center;
}
div#section div.mediaspace2 {
    width: 500px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
div#section div#colRightMedia {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
div#section div#colLeftMedia {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
div#section div.cadre1 {
    background-color: #E3E3C7;
    border: solid 1px #333333;
    border-radius: 7px;
    width: 70%;
    margin: auto;
}

div#section div.up3 {
    background-image: url("../../images/arrow_up.png");
    width: 16px;
    height: 16px;
    margin: auto;
    cursor: pointer;
}

div#section div.down3 {
    background-image: url("../../images/arrow_down.png");
    width: 16px;
    height: 16px;
    margin: auto;
    cursor: pointer;
}

div#section ul.listRes li {
    cursor: pointer;
    text-decoration: underline;
}

div#section ul.listRes div {
    font-size: 1.2em;
    color: #ddae70;
}

div#section div.ldo {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 1px #cccccc;
    border-radius: 5px;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
}

div#section div.ldo h1,
div#section div.ldo p {
    color: #ffffff;
    font-size: 0.9em;
}
/*--Formulaires--*/

div#section fieldset {
    border: solid 1px #333333;
    border-radius: 7px;
    width: 70%;
}

div#section legend {
    color: #e84008;
}
div#section label {
    cursor: pointer;
    color: #6e69da;
    font-weight: bold;
}

div#section input[type="submit"] {
    cursor: pointer;
}

div#section input[type="submit"]:hover {
    color: #e84008;
}
